{% extends "base.html" %}

{% block title %}
Apps - Admin interface
{% endblock %}

{% block content %}
<table class="table borderless">
            <tr>
                <th>User Mail</th>
                <th>User role</th>
                <th>Is Active</th>
            </tr>
            {% for user in users %}
            <tr>
            <td><a href="/admin/{{ user._id }}/">{{ user.Email }}</a></td>
            <td>{{ user.Role }}</td>
            <td>{{ user.isActive }}</td>
            </tr>
            {% endfor %}
{% endblock %}