<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Testing page...{% endblock %}</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="/static/css/animate.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <style type="text/css">
        .tooltip-inner {
            max-width: 50%;
            text-align: left;
            /* If max-width does not work, try using width instead */
            width: 50%; 
        }
        .borderless td, .borderless th {
            border-top: none;
        }
    </style>

</head>

<body>
    <div class="container col-lg-12 gray-bg">

    <div class="row border-bottom">
        <nav class="navbar navbar-/static-top" role="navigation" style="margin-bottom: 0">
            <ul class="nav navbar-top-links navbar-left" style="padding-left:20px">
                <li>
                    <a href="/"><i class="fa fa-list"></i>Home</a>
                </li>
                 {%if session.get('Role','') == 'Admin' %}
                <li>
                    <a href="/admin"><i class="fa fa-gears"></i>Admin</a>
                </li>
                 {% endif %}
            </ul>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message">{{ user_email }}</span>
                </li>
                <li>
                    <a href="/login">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>

        </nav>
        </div>

        <div id="wrapper wrapper-content">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                {% block interface %}{% endblock %}
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            {% block content %}
                            Content here....
                            {% endblock %}
                        </div>
                    </div>
                </div>
        </div>
        </div>

        </div>
    </div>


    <!-- Mainly scripts -->
    <script src="/static/js/jquery-2.1.1.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/static/js/inspinia.js"></script>
    <script src="/static/js/plugins/pace/pace.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
        $('[rel="tooltip"]').tooltip();
        });
    </script>


</body>

</html>
