{% extends "base.html" %}
{% block title %}Apps: {% if search_term %}{{ search_term }} - {% endif %}{{ "{:,d}".format(results_count) }} apps found.{% endblock %}
{% block interface %}{% include "search_interface.html" %}{% endblock %}
{% block content %}
    <table class="table borderless">
            <tr>
                <th class="visible-lg">Logo</th>
                <th>App Name</th>
                <th class="visible-lg">Ratings Count</th>
                <th>Installs</th>
                <th>Rating</th>
                <th>Category</th>
                <th class="visible-lg">Developer</th>
                <th class="visible-lg">Developer Email</th>
                <th class="visible-lg">Developer Address</th>
                <th class="visible-lg">Updated</th>
                <th class="visible-lg">Version</th>
                <th class="visible-lg">InApp Products</th>
                <th class="visible-lg">Requires Android</th>
                <th class="visible-lg">Content Rating</th>
            </tr>
            {% for result in results %}
            <tr>
                <td class="visible-lg" align="center"><a href="{{ result.AppUrl }}"><img src="{{ result.AppLogo }}" style="width: 35px; height: 35px"></a></td>
                <td><a input_fields.placement="right" data-placement="right" rel="tooltip" title="{{ result.Description }}" href="{{ result.AppUrl }}" target="_blank">{{ result.AppName }}</a></td>
                <td class="visible-lg" align="center">{{ "{:,d}".format(result.RatingCount) }}</td>
                <td>{{ result.Installs }}</td>
                <td align="center">{{ '%0.2f'| format(result.Rating) }}</td>
                <td>{{ result.Category }}</td>
                {% if result.DeveloperWebsite %}
                    <td class="visible-lg"><a href="{{ result.DeveloperWebsite }}">{{ result.DeveloperName }}</a></td>
                {% else %}
                    <td class="visible-lg">{{ result.DeveloperName }}</td>
                {% endif %}
                <td class="visible-lg">{{ result.DeveloperEmail }}</td>
                <td class="visible-lg">{{ result.DeveloperAddress }}</td>
                <td class="visible-lg">{{ result.Updated.strftime('%d.%m.%Y') }}</td>
                <td class="visible-lg">{{ result.Version }}</td>
                <td class="visible-lg">{{ result.InAppProducts }}</td>
                <td class="visible-lg">{{ result.RequiresAndroid }}</td>
                <td class="visible-lg">{{ result.ContentRating}}</td>
            </tr>
            {% endfor%}
    </table>
    <div class="text-center">
        <div class="btn-group">
            {%if page_num > 1%}
            <button class="btn btn-white" type="button"><i class="fa fa-chevron-left"></i></button>
            {% endif %}
            {% for i in range(page_num-3, page_num +3)%}
                {% if i > 0 and i <= max_pages %}
                    {%if i == page_num%}
                    <a class="btn btn-white active" >{{ i }}</a>
                    {% else %}
                    <a class="btn btn-white" href="{{ url_for('search_results',search=search_term, page=i, category=current_cat, androidVersion=current_av, installs=current_installs, CR=current_cr) }}">{{ i }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {%if page_num < max_pages%}
            <button class="btn btn-white" type="button"><i class="fa fa-chevron-right"></i> </button>
            {% endif %}
        </div>
    </div>
    {% endblock %}