<div class="ibox">
    <div class="ibox-title">
        <h5>{{ "{:,d}".format(results_count) }} results found for: <span class="text-navy">“{{ current_search['query'] }}”</span></h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        <form action="/" method="get" class="form">
            <div class="search-form">
                <div class="row">
                    <div class="col-md-10">
                        <div class="col-md-3">
                            <label>Search query:</label>
                            <input type="text" placeholder="App to find.." name="search" class="form-control input" value="{{ current_search['query'] }}">
                        </div>
                        <div class="col-md-3">
                            <label>Category:</label>
                            <select class="form-control input col-md-3" name="category">
                                <option value="">Choose..</option>
                                {% for cat in input_fields.cats %}
                                    {% if cat == current_search['category'] %}
                                    <option selected="selected">{{ cat }}</option>
                                    {% else %}
                                    <option>{{ cat }}</option>
                                    {% endif %}
                                {% endfor %}                             
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label>Installs count:</label>
                            <select class="form-control input" name="installs">
                                <option value="">Choose...</option>
                                {% for inst in input_fields.installs %}
                                    {% if inst == current_search['installs'] %}
                                    <option selected="selected">{{ inst }}</option>
                                    {% else %}
                                    <option>{{ inst }}</option>
                                    {% endif %}
                                {% endfor %}                               
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label>Content rating:</label>
                            <select class="form-control input" name="CR">
                                <option value="">Choose...</option>
                                {% for c_r in input_fields.content_ratings %}
                                    {% if c_r == current_search['contentRating'] %}
                                    <option selected="selected">{{ c_r }}</option>
                                    {% else %}
                                    <option>{{ c_r }}</option>
                                    {% endif %}
                                {% endfor %}                               
                            </select>
                        </div>
                        
                        <div class="col-md-3">
                            <label>Developer address:</label>
                            <input type="text" placeholder="Developer address" name="devAddress" class="form-control input" value="{{ current_search['devAddress'] }}">
                        </div>
                        
                        <div class="col-md-3">
                            <label>Android version:</label>
                            <select class="form-control input" name="androidVersion">
                                <option value="">Choose...</option>
                                {% for version in input_fields.android_versions %}
                                    {% if version == current_search['androidVersion'] %}
                                    <option selected="selected">{{ version }}</option>
                                    {% else %}
                                    <option>{{ version }}</option>
                                    {% endif %}
                                {% endfor %}                               
                            </select>
                        </div>

                    <div class="col-md-3">
                        <label>Updated from:</label>
                        <input type="date" name="updFrom" class="form-control input" value="{{ current_search['updFrom']}}">
                    </div>
                    <div class="col-md-3">
                        <label>Updated to:</label>
                        <input type="date" name="updTo" class="form-control input" value="{{ current_search['updTo']}}">
                    </div>
                </div>
                <div class="col-md-2">
                
                    <div class="col-md-12">
                                <label>Click to search:</label>
                                <button class="btn btn-primary btn-block" type="submit">
                                    Search
                                </button>
                            </div>
                    <div class="col-md-12">
                        <label>Click to save results as CSV..</label>
                        <button class="btn btn-warning btn-block" href="{{ url_for('csv_export',query='') }}" name="csvExport" value="true">
                            Save CSV
                        </button>
                    </div>
                </div>
            </div>
            </div>   
        </form>
    </div>
</div>