<!DOCTYPE html>
<html>
<head>
	<title>Statistics</title>
</head>
<body>
<table>
	{% for key, value in data.items() %}
	<tr>
		<td>{{ key }}</td>
		<td>{{ value }}</td>
	</tr>
	{% endfor %}
</table>
</body>
</html>