{% extends "base.html" %}

{% block title %}
Apps - User admin interface
{% endblock %}
{% block content %}
<h2>{{ user['Email']}}</h2>
<div class="row">
    <div class="form">
        <form target="" method="POST">
        <div class="col-md-4">
        <label>User role:</label>
            <select name="Role" class="form-control">
                {% for role in roles %}
                <option {% if (role == user['Role']) %}selected="selected"{% endif %}>{{ role }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-4">
        <label>Is Active:</label>
            <select name="isActive" class="form-control">
                {% for choice in is_active_variants %}
                <option {% if (choice == user['isActive']) %}selected="selected"{% endif %}>{{ choice }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-4">
        <label>Click me to save:</label>
            <button class="btn form-control btn-primary btn-block" type="submit">Save</button>
        </div>
        </form>
    </div>
</div>
{% endblock %}